<!DOCTYPE html>
<html>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<head>
  <title>Punto dentro de un cuadrado</title>
</head>
<body>

<h2>Enunciado</h2>
<p>
  Realizar una función que nos indique si un punto está o no dentro de un cuadrado.
</p>

<h2>Solución</h2>
<p>
  Lo primero que vamos a hacer es realizar una función que nos permita visualizar
  un polígono en un plot. Veamos la función y expliquemos brevemente su definición.
</p>

<!--begin.rcode
dibujaPoligono <- function(x,y){
  # Obtenemos los límites para pintar el polígono
  minimo = min(c(min(x), min(y)))-1
  maximo = max(c(max(x), max(y)))+1
  # Creamos un plot vacío
  plot(x=c(0,1), y=c(0,1), xlim=c(minimo,maximo), ylim=c(minimo,maximo),type="n")
  # Lo pintamos con borde azul
  polygon(x,y,border="blue")
}
end.rcode-->

<p>
  Con esta función podemos dibujar un polígono cualquiera, en nuestro caso nos va
  a servir para dibujar los cuadrados que vamos a considerar en los siguientes
  pasos del ejercicio, veamos un ejemplo.
</p>

<!--begin.rcode
dibujaPoligono(c(0,1,1,0), c(0,0,1,1))
dibujaPoligono(c(0,2,1,-1), c(0,-1,1,2))
end.rcode-->

<p>
  Como podemos observar el plot lo realizamos con el polígono vacío para poder
  visualizar su interior.
</p>

<p>
  El siguiente paso es considerar un cuadrado como el primero que hemos pintado, es
  decir, un cuadrado en el que los lados son verticales y horizontales. Veamos
  cómo sabemos que un punto está dentro de un cuadrado de este tipo.
</p>

<!--begin.rcode
dentroCuadradoRecto <- function(x,y, punto){
  # Los cuadrados de este tipo son de la forma {(min,min), (max, min), (max,max), (min,max)}
  # Pintamos el cuadrado y el punto
  dibujaPoligono(x,y)
  points(x=c(punto[1]), y=c(punto[2]))
  # Si el punto está en el borde no se considera dentro del polígono!
  return(punto[1]<max(x) && punto[1]>min(x) && punto[2]>min(y) && punto[2]<max(y))
}
end.rcode-->

<p>
  Esta función recibe como parámetros los puntos x e y que definen el cuadrado
  a considerar y el punto que queremos comprobar si se encuentra en su interior.
  Para comprobar esto tenemos que ver que su valor en la coordenada X es mayor
  que el mínimo de los valores de los vértices y menor que el máximo de los
  valores en los vértices en la coordenada X de los mismos. De igual forma hay que
  comprobar esta condición en el eje Y. Veamos cómo funciona con el primero
  de los cuadrados.
</p>

<!--begin.rcode
dentroCuadradoRecto(c(0,1,1,0), c(0,0,1,1), c(1,2))
dentroCuadradoRecto(c(0,1,1,0), c(0,0,1,1), c(0.2,0.7))
end.rcode-->

<p>
  Como se puede observar en las figuras el comportamiento es el esperado.
</p>

<p>
  Ahora nos queda el caso más complejo de cuadrados. Este caso es aquel en el que consideramos
  cuadrados rotados. Para abordar este caso vamos a afrontarlo de la siguiente forma,
  vamos a estudiar la posición del punto que tenemos frente a cada una de las rectas
  que definen los lados del cuadrado.
</p>

<p>
  Este caso a su vez podemos verlo en dos casos distintos, veamos ambos casos:
</p>

<!--begin.rcode
dibujaPoligono(c(0,2,1,-1), c(0,-1,1,2))
dibujaPoligono(c(0,2,1,-1), c(2,1,-1,0))
end.rcode-->

<p>
  Conceptualmente estamos distinguiendo estos dos casos por lo siguiente, tanto en el
  primero como en el segundo de los casos el punto considerado debe quedar por debajo
  de la recta superior y por encima de la recta inferior, pero la distinción de casos
  vienen de la diferencia entre las rectas laterales.
</p>

<p>
  Si nos fijamos en la recta del lado derecho, podemos ver que en el primero de los
  casos el punto debe caer por debajo de la recta mientras que en el segundo de los
  casos debe caer por encima de la recta. Este factor es determinado por el signo de
  la pendiente de la recta que define dicho lado. Con lo cual vamos a distinguir
  cuando la pendiente de la recta del lado derecho es positiva o negativa, si la pendiente
  del lado derecho es positiva, entonces la del lado izquierdo es positiva también (para ser un cuadrado)
  y si la pendiente es negativa en el lado derecho lo será también en el izquierdo.
</p>

<p>
  Para empezar vamos a definir una función que nos da la recta que pasa por dos
  puntos.
</p>

<!--begin.rcode
obtenRecta <- function(a,b){
  # Recta del tipo y=m*x+c
  # Obtenemos la pendiente
  m<-((b[2]-a[2])/(b[1]-a[1]))
  # Obtenemos el término independiente
  c<- a[2] - m*a[1]
  # Lo devolvemos como una lista
  return(list(pendiente=m, termino_independiente=c))
}
end.rcode-->

<p>
  Esta función lo que hace es, dados dos puntos calcula la recta que pasa por ambos
  puntos. Esto es, si $a = (x_0, y_0)$, $b = (x_1, y_1)$ entonces la recta tiene
  pendiente $m = \frac{y_1-y_0}{x_1-x_0}$. Como pasa por ambos puntos podemos tomar cualquiera
  de ellos y despejar el término independiente de la ecuación $c = y_0 - \frac{y_1-y_0}{x_1-x_0}x_0$
  con lo que la ecuación completa queda como $y = \frac{y_1-y_0}{x_1-x_0}x + y_0 - \frac{y_1-y_0}{x_1-x_0}x_0$.
</p>

<p>
  Ahora necesitamos una función que nos de la posición relativa de un punto respecto
  a una recta, esto es, si está por encima, en la recta o por debajo. Para ello vamos a definir
  la siguiente función.
</p>

<!--begin.rcode
puntoRecta <- function(a,b,punto){
  # Si un punto está por debajo de la recta entonces devolvemos -1, si está en la recta devolvemos 0
  # y si está por encima devolvemos 1

  #Obtenemos la recta usando la función obtenRecta
  recta<-function(x){obtenRecta(a,b)$pendiente*x + obtenRecta(a,b)$termino_independiente}
  if(punto[2]<recta(punto[1]))
    return(-1)
  else if(punto[2]>recta(punto[1]))
    return(1)
  else
    return(0)
}
end.rcode-->

<p>
  Como podemos ver, esta función lo que hace es devolver 1 si el punto está por debajo de
  la recta, 0 si está en la propia recta y 1 si está por encima.
</p>

<p>
  Una vez hechas estas funciones podemos hacer la función que nos indica si un punto
  está dentro de un cuadrado en el que los laterales no son verticales, veámosla.
</p>

<!--begin.rcode
dentroCuadradoTorcido <- function(x,y,punto){
  A = c(x[1],y[1])
  B = c(x[2],y[2])
  C = c(x[3],y[3])
  D = c(x[4],y[4])

  pendiente = obtenRecta(B,C)$pendiente

  pos_recta1 = puntoRecta(A,B,punto)
  pos_recta2 = puntoRecta(B,C,punto)
  pos_recta3 = puntoRecta(C,D,punto)
  pos_recta4 = puntoRecta(D,A,punto)

  # Pintamos el cuadrado y el punto
  dibujaPoligono(x,y)
  points(x=c(punto[1]), y=c(punto[2]))

  if(pendiente>0)
    return(pos_recta1==1 && pos_recta2==1 && pos_recta3==-1 && pos_recta4==-1)
  else
    return(pos_recta1==1 && pos_recta2==-1 && pos_recta3==-1 && pos_recta4==1)
}
end.rcode-->

<p>
  Como podemos observar el razonamiento es el siguiente: en función de la pendiente
  del lado derecho (como hemos comentado anteriormente) estudiamos la posición del punto
  frente a las 4 rectas que definen los lados del cuadrado. En este caso el orden en el que
  se pasan los puntos a la función es crucial. Se le deben pasar los datos empezando por
  la esquina inferior izquierda, luego la esquina inferior derecha, luego la esquina
  superior derecha y finalmente la superior izquierda.
</p>

<p>
  Por último todo esto lo podemos encapsular en una función general, si la primera coordenada
  del segundo y tercer punto es la misma entonces el lado es una recta vertical y por tanto
  aplicamos la función del cuadrado recto. En cambio si no son iguales aplicamos la función
  del cuadrado torcido.
</p>

<!--begin.rcode
puntoDentroCuadrado <- function(x,y,punto){
  A = c(x[1],y[1])
  B = c(x[2],y[2])
  C = c(x[3],y[3])
  D = c(x[4],y[4])
  if(C[1]==B[1]){
    cat("Utilizando la función del cuadrado recto\n")
    return(dentroCuadradoRecto(x,y,punto))
  }
  else{
    cat("Utilizando la función del cuadrado torcido\n")
    return(dentroCuadradoTorcido(x,y,punto))
  }
}
end.rcode-->

<p>
  Por último veamos el funcionamiento de esta última función.
</p>

<!--begin.rcode
puntoDentroCuadrado(c(0,1,1,0), c(0,0,1,1), c(0.2,0.7))
puntoDentroCuadrado(c(0,1,1,0), c(0,0,1,1), c(0.2,2))

puntoDentroCuadrado(c(0,2,1,-1), c(0,-1,1,2), c(0.5,1))
puntoDentroCuadrado(c(0,2,1,-1), c(0,-1,1,2), c(3,1))

puntoDentroCuadrado(c(-1,1,2,0), c(0,-1,1,2), c(0.5,1))
puntoDentroCuadrado(c(-1,1,2,0), c(0,-1,1,2), c(3,1))
end.rcode-->

<p>
  Tras esto aún no hemos llegado a la función más general, pues nos queda el caso en el
  que tenemos cuadrados de la siguiente forma:
</p>

<!--begin.rcode
dibujaPoligono(c(0,1,1,0), c(0,-1,2,3))
end.rcode-->

<p>
  Según el código que tenemos hasta el momento este caso entraría en el de un cuadrado no torcido
  y por tanto consideraríamos que todos los lados son rectos, lo cual llevaría a error.
  Para corregir el comportamiento de nuestra función vamos a considerar lo siguiente: siempre
  vamos a comprobar que estamos por debajo de la recta superior y por encima de la inferior.
</p>

<p>
  Esta condición es general y vale para todos los casos, por tanto vamos a aprovechar
  este comportamiento y vamos a modificar nuestras funciones.
</p>

<!--begin.rcode
dentroCuadradoRectoGeneral <- function(x,y, punto){
  A = c(x[1],y[1])
  B = c(x[2],y[2])
  C = c(x[3],y[3])
  D = c(x[4],y[4])
  # Pintamos el cuadrado y el punto
  dibujaPoligono(x,y)
  points(x=c(punto[1]), y=c(punto[2]))
  # Si el punto está en el borde no se considera dentro del polígono!
  return(punto[1]<max(x) && punto[1]>min(x) && puntoRecta(A,B,punto)==1 && puntoRecta(C,D,punto)==-1)
}
puntoDentroCuadrado <- function(x,y,punto){
  A = c(x[1],y[1])
  B = c(x[2],y[2])
  C = c(x[3],y[3])
  D = c(x[4],y[4])
  if(C[1]==B[1]){
    cat("Utilizando la función del cuadrado recto\n")
    return(dentroCuadradoRectoGeneral(x,y,punto))
  }
  else{
    cat("Utilizando la función del cuadrado torcido\n")
    return(dentroCuadradoTorcido(x,y,punto))
  }
}
end.rcode-->

<p>
  Comprobemos el comportamiento con el último cuadrado descrito.
</p>

<!--begin.rcode
  puntoDentroCuadrado(c(0,1,1,0), c(0,-1,2,3),c(0.5,1))
  puntoDentroCuadrado(c(0,1,1,0), c(0,-1,2,3),c(2,0))
end.rcode-->

<p>
  Cabe decir que en este ejercicio sólo he considerado cuadriláteros con lados paralelos
  y no cualquier tipo de cuadrilátero.
</p>

</body>
</html>
